<div>
	<div class="container">
	<h2>Добро пожаловать <small></small></h2>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Приложение не опубликовано</h3>
					</div>
					<div class="panel-body">
						<p class="lead">Скачайте приложение Domoby в Appstore и настройте свое собственное</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Источники контента</h3>
					</div>
					<div class="panel-body">
						<form class="form">
							<div class="form-group">
								<label for="instpage">Instagram</label>
								<input class="form-control" type="text" id="instpage" ng-model="instpage" placeholder="instagram.com/kateclapp"/>
							</div>
							<div class="form-group">
								<label for="vkpage">VK page</label>
								<input class="form-control" type="text" id="vkpage" ng-model="vkpage" placeholder="vk.com/mdk"/>
							</div>
							
							<button type="submit" class="btn btn-default">Сохранить</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-7">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Создать пост</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-6">
							<div dropzone="dropzoneConfig" class="dropzone">
								
							</div>
						</div>
						<div class="col-md-6">
							<form class="form">
							<div class="form-group">
								<label for="posttext">Сообщение</label>
								<textarea class="form-control" id="posttext" ng-model="posttext" maxlength=1024 rows=3></textarea>
								
							</div>
							
							<button type="submit" class="btn btn-primary">Отправить</button>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>