<div>
	<h2>Отчёты <small></small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<h1>Статистика</h1>
			<p>Статистика по вашему приложению ещё не собрана</p>
			
		</div>
	</div>
</div>