<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/domoby.png" class="user-avatar" />
			<h1>Domoby <small>регистрация</small></h1>
			<form role="form" ng-submit="submit()">

				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Имя" ng-model="user.full_name">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="instagram" ng-model="user.blog">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email" ng-model="user.email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" ng-model="user.password">
					</div>
				</div>

				<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Зарегистрироваться</button>

			</form>

		</div>	
	</div>

</div>